@import "bourbon/bourbon";
@import "neat/neat";

@import 'variables';
@import 'base';


body {
  background-color: rgb(71, 69, 69);
  color: white;
}

.jumbotron {
  .banner {
    width: 75%;
  }
}

.jumbotron-content {
  text-align: center;
  padding: 3rem 1rem;
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
}

.intro {
  color: white;
}

.lead {
  font-size: 2rem;
}


.content {
  @include outer-container();
}

.map-div {
  padding: 1rem;
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(12);
  }
}
.twitter-div {
  text-align: center;
  padding: 1rem;
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(12);
  }
}


.responsive-embedded-wrapper {
  //Adapted from http://www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/
  position: relative;
  height: 0;  //Height is obtained from the padding, so set to 0
  overflow: hidden;
  padding-bottom: (9 / 16) * 100%; //Aspect ratio
  border: 1px solid $gray-light;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.row {
  @include row();
}

.project {
  @include span-columns(12);
  margin-bottom: 2rem;
  a {
    font-size: 1.5rem;
  }
  .thumbnail {
    @include span-columns(3);
  }
  .description {
    @include span-columns(9);
    .name {
      font-size: 1.5rem;
    }
  }
}
